@font-face {
    font-family: 'Font';
    src: url('Font-Regular.eot');
    src: local('Font Regular'), local('Font-Regular'),
        url('Font-Regular.eot?#iefix') format('embedded-opentype'),
        url('Font-Regular.woff') format('woff'),
        url('Font-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}