$companyСolor: #F7654A;
$companyFontRegular: 'Oswald-Regular';
$companyFontGray: '#999999';




.block-header{
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
    width: 100%;

    margin-top: 100px;
}
img{
    max-width: 100%;
}




body{
    font-family: $companyFontRegular;

    h1{
        font-size: 64px;
        line-height: 95px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 170px;
    }
}




.main-container{
    text-align: center;
    background-image: url("../img/main-container-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;

    h2{
        padding-bottom: 320px;
    }
}




.our-achievement{
    background-color: #f7f7f7;
    margin-top: -150px;
}

.achievement-block{
    display: inline-block;
    width: 190px;
    margin-right: 30px;
    text-align: center;
    padding: 57px 0;

    &:last-child{
        margin-right: 0;
    }

    &>.number{
        font-size: 72px;
        line-height: 107px;
        color: $companyСolor;
    }

    &>.time{
        font-size: 36px;
        line-height: 53px;
        text-transform: uppercase;
        font-weight: 800;
    }

    &>.other{
        font-size: 18px;
        line-height: 27px;

        color: $companyFontGray;
    }
}




.our-projects{
    //margin-top: 100px;

    .our-project__header{
        font-size: 24px;
        line-height: 36px;
    }

    .our-project__description{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }

    .underLine{
        width: 55px;
        height: 6px;
        background: $companyСolor;
        margin-top: 45px;
        margin-bottom: 15px;
    }
}




.wrap-request,
.wrap-whantWorkWithUs{
    background-color: $companyСolor;

    .request,
    .whantWorkWithUs{
        margin-top: 150px;
        padding: 30px 0 45px 0;
    
        h3{
            font-weight: bold;
            font-size: 48px;
            line-height: 71px;
            letter-spacing: 0.02em;
    
            color: #FFFFFF;
        }
        h4{
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            letter-spacing: 0.02em;

            color: #FFFFFF;
        }

        .button-request{
            padding: 14px 30px;
            border: none;
            background-color: #fff;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            img{
                padding-right: 15px;
            }
        }
    }
}




.what-we-do__block{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    h4{
        font-size: 21px;
        line-height: 31px;
        text-align: center;
        letter-spacing: 0.02em;
        width: 172px;
        padding-top: 30px;
        text-transform: uppercase;
    }

    .what-we-do__container{
        padding: 59px 89px;
        background-color: #f7f7f7;
    }
}




.portfolio{
    margin-top: 150px;
}




.question{
    margin-bottom: 150px;

    .openList__header{
        font-size: 24px;
        line-height: 36px;
        color: $companyСolor;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
    }
    .opentList__text{
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #999999;
    }

    .arrow{
        float: left;
    }
    .arrow-close{
        margin-right: 13px;
        margin-top: 13px;
        width: 0; 
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid $companyСolor;
    }
    .arrow-open{
        margin-right: 13px;
        margin-top: 13px;
        width: 0; 
        height: 0;
        border-top: 7px solid transparent;
        border-left: 12px solid $companyСolor;
        border-bottom: 7px solid transparent;
    }
}




.wrap-partners{
    background-color: #404149;
    padding: 100px 0;

    .block-header{
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 60px;
    }
}




.comments{
    .comments__block{
        padding: 32px 30px 38px 30px;
        background-color: #f7f7f7;
    
        .text{
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            padding-top: 19px;
            color: #999999;
        }
    }

    .person{
        margin-top: 30px;
        //margin-bottom: 150px;
        font-size: 21px;
        line-height: 31px;
        letter-spacing: 0.02em;
        font-weight: bold;

        .workPlace{
            color: $companyСolor;
        }
    }
}




.contacts{

    padding-bottom: 150px;

    p,
    img{
       text-align: center; 
    }
    img{
        display: block;
        margin: 0 auto;
        width: 49px;
        height: 48px;
        margin-bottom: 20px;
    }

    .contacts__blockInfo,
    .contacts__info
    {
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .contacts__blockInfo{
        color: #999999;
    }
    .contacts__email{
        color: $companyСolor;
    }
}




.wrap-footer{
    background-color: #404149;
    padding: 30px 0;

    .footerLeft,
    .footerRight{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 0;

        float: left;
    }
    .footerRight{
        float: right;
    }
}